.fira-sans {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
  }  

/* Shared Styles */

.secondary-bg {
    background-color: #C6E4D6;
}

.button-primary {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}

.section-title {
    font-size: 40px;
    font-weight: 800;
    color: #0E0E0E;
}

/* Header Section Styles Starts */

/* Navbar Section Styles Starts */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
}

.nav-title {
    font-size: 32px;
    font-weight: 800;
    color: #0E0E0E;
}

.nav-button {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    background-color: white;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
}

/* Navbar Section Styles Ends */

/* Banner Section Styles Starts */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
    border-radius: 24px;
    padding: 80px 100px;
    gap: 55px;
}

.banner-content {
    max-width: 622px;
}

.banner-title {
    font-size: 56px;
    font-weight: 800;
}

.banner-sub-title {
    font-size: 24px;
    font-weight: 600;
    color: #0E0E0E;
    opacity: 0.5;
}

.banner-profile-picture {
    width: 475px;
}

/* Banner Section Styles Ends */

/* Header Section Styles Ends */

/* Main Section Styles Starts */

main {
    max-width: 1340px;
    margin: 0 auto;
}

main section {
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Features Section Styles Starts */

.features-container {
    display: flex;
    gap: 24px;
}

.feature {
    padding: 24px;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: white;
}

.feature-title {
    font-size: 20px;
    font-weight: 800;
    color: rgba(14, 14, 14, 0.8);
}

.feature-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}

/* Features Section Styles Ends */

/* Main Section Styles Ends */